<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'create_category' %}">Create category</a>
                    <a href="{% url 'logout' %}">Logout</a>
                {% else %}
                    <a href="{% url 'signup' %}">Sign Up</a>
                    <a href="{% url 'login' %}">Login</a>
                </li>
                {% endif %}
            </ul>

        </nav>
    </header>
    <main>
            <table>
                <thead>
                    <th>Name</th>
                    <th>Number of receipts</th>
                </thead>
                <tbody>
                    {% for item in category_list %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.receipts.count }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </main>
</body>
</html>
