<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <h1>My Receipts</h1>
        <table>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'create_receipt' %}">Create receipt</a>
                        <a href="{% url 'category_list' %}">Category list</a>
                        <a href="{% url 'account_list' %}">Account list</a>
                        <a href="{% url 'logout' %}">Logout</a>
                    {% else %}
                        <a href="{% url 'signup' %}">Sign Up</a>
                        <a href="{% url 'login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>

            </nav>
                <thead>
                    <th>Vendor</th>
                    <th>Total</th>
                    <th>Tax</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Account</th>
                </thead>
                <tbody>
                    {% for item in receipt_list %}
                    <tr>
                        <td>{{ item.vendor }}</td>
                        <td>{{ item.total }}</td>
                        <td>{{ item.tax }}</td>
                        <td>{{ item.date|date:"m/d/y" }}</td>
                        <td>{{ item.category.name }}</td>
                        <td>{{ item.account.name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
        </table>
    </main>
</body>
</html>
